<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/style1.css">
</head>
<body>
    <div class = "header">Welcome <%= usertype %> </div>
    <div class = "header"><%= user %></div>
    <h1>File Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".txt">
    <button type="submit" name = Username value=<%= usertype %>>Upload</button>

   
    

    </form>
</body>
</html>