<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body class = "page1">
  <div class="container">
    <h2 class = "text">Welcome! Are you a student or a teacher?</h2>
    <form class = "Form" action="/" method="POST">
      <button class = "Student"type="submit" name="userType" value="student">Student</button>
      <button class ="Teacher" type="submit" name="userType" value="teacher">Teacher</button>
    </form>
  </div>
</body>
</html>
