<!-- Similar to teacherLogin.ejs, replace 'Teacher' with 'Student' -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= userType %> Login</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body class = "page2">
  <div class="container1">
    <form action="/login" method="post">
      <h2 style="color: white;"><%= userType %> Login</h2> 
      <label style="color: white;" for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required>
      <label style="color: white;" for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>
      <button type="submit" name="userType" value= <%= userType %>>Sign In</button>
      <% if (locals.error) { %>
            <p style=" font-weight: bold;color: white;">Username or Password invalid</p>
      <% } %>
    </form>
  </div>
</body>
</html>
